/* body {
    background-color: #8594a2;
} */

h1 {
    text-align: center;
    color: #333;
    display: block;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: block;
}   

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-body {
    text-align: center;
    background-color: #ccd5d1;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1765b3;
}

.card-text {
    font-size: 1rem;
    color: #6d71a3;
}
.card-footer{
    font-size: 1rem;
    color: #0e0e12;
}

h4 {
    font-size: 2rem;
    color: #0e0808;
}

.container {
    padding-top: 20px;
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1);
    
}


.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center buttons vertically */
    align-items: center; /* Center buttons horizontally */
    gap: 20px; /* Add spacing between buttons */
    height: auto; /* Remove dependency on viewport height */
    margin: 5px auto; /* Center the container */
}

.button-container a {
    background-color: #007bff;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    margin:20px; /* Adjusted for better spacing */
    width: 200px;

}

.button-container a:hover {
    background-color: rgb(255, 153, 0);
}
