.container{
    display: flex;
    justify-content: center;
    padding: 100px;
    border-radius: 10px;
    background-color: rgb(0, 110, 255);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 100px 0px 100px;
}
h1{
    text-align: center;
}
input{
    display: flex;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    width: 600px;
    height: 20px;
}
.login-btn{
    width: 70px;
    height: 30px;
}
