.text-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
  }
  /* General styling for the body */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fa;
  }
  /* Center the form in the middle of the page */
  form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  /* Styling for the text fields */
  .text-field {
    display: flex;
    flex-direction: column;
  }
  .text-field label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  .text-field input,
  .text-field select {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .text-field input[type="radio"] {
    width: auto;
    margin-right: 10px;
  }
  .text-field select {
    height: 40px;
  }
  /* Styling for the button container */
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  .button label {
    margin-right: 10px;
    font-weight: normal;
  }
  /* Styling the submit button */
  input[type="submit"] {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  .success,
  .error {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .success {
    color: #28a745;
  }
  .error {
    color: #dc3545;
  }